<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="ISSP" connectionString="Data Source=ISSDES; User Id=GDD; Password=interm2016;" providerName="oracle.manageddataaccess.client" />
  <add name="ISSP_DATAACCESS" connectionString="Data Source=ISSDES; User Id=GDD; Password=interm2016;" providerName="Oracle.DataAccess.Client" />
</connectionStrings>
