<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  <root>
    <level value="ALL"/>
    <appender-ref ref="ADONetAppender"/>
  </root>

  <appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1"/>
    <connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <connectionString value="Data Source=ISSDES; User Id=GDD; Password=interm2016;Enlist=false;"/>
    <commandText value="INSERT INTO GDD.tnh_log_teste (log_seq, log_Data,log_arquivo,log_classe,log_metodo,log_linha,log_nivel,log_usuario,log_servidor,log_Thread,log_chamador,log_Mensagem,log_excecao) VALUES (GDD.tnh_seq.NEXTVAL, :log_data, :log_arquivo, :log_classe, :log_metodo, :log_linha, :log_nivel, :log_usuario, :log_servidor, :log_thread, :log_chamador, :log_mensagem, :log_excecao)"/>
    <parameter>
      <parameterName value=":log_data"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout">
        <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_arquivo" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%file" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_classe" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_metodo" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%method" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_linha" />
      <dbType value="String" />
      <size value="40" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%line" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_nivel"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_usuario" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%username" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_servidor" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_thread"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_chamador"/>
      <dbType value="String"/>
      <size value="400"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_mensagem"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value=":log_excecao"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

</log4net>

